src/wsdl/server_Copy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI
	2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI
	2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types"
	name="SmevServerService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://localhost:18080/smev?xsd=1"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://localhost:18080/smev?xsd=2"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://smev.gosuslugi.ru/rev120315" schemaLocation="http://localhost:18080/smev?xsd=3"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://smev.gosuslugi.ru/MsgExample/xsd/types" schemaLocation="http://localhost:18080/smev?xsd=4"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" schemaLocation="http://localhost:18080/smev?xsd=5"></xsd:import>
		</xsd:schema>
	</types>
	<message name="syncReq">
		<part xmlns:ns1="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns1:Header"></part>
		<part name="syncReqParameters" element="tns:SyncRequest"></part>
	</message>
	<message name="syncReqResponse">
		<part name="syncReqResponseParameters" element="tns:SyncResponse"></part>
	</message>
	<message name="aSyncReq">
		<part xmlns:ns2="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns2:Header"></part>
		<part name="asyncReqParameters" element="tns:aSyncReqRequest"></part>
	</message>
	<message name="aSyncReqResponse">
		<part name="asyncReqResponseParameters" element="tns:aSyncReqResponse"></part>
	</message>
	<message name="aSyncResult">
		<part xmlns:ns3="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns3:Header"></part>
		<part name="aSyncResultParameters" element="tns:aSyncResultRequest"></part>
	</message>
	<message name="aSyncResultResponse">
		<part name="aSyncResultResponseParameters" element="tns:aSyncResultResponse"></part>
	</message>
	<portType name="SmevServer">
		<operation name="syncReq" parameterOrder="smevHeader syncReqParameters">
			<input message="tns:syncReq"></input>
			<output message="tns:syncReqResponse"></output>
		</operation>
		<operation name="aSyncReq" parameterOrder="smevHeader asyncReqParameters">
			<input message="tns:aSyncReq"></input>
			<output message="tns:aSyncReqResponse"></output>
		</operation>
		<operation name="aSyncResult" parameterOrder="smevHeader aSyncResultParameters">
			<input message="tns:aSyncResult"></input>
			<output message="tns:aSyncResultResponse"></output>
		</operation>
	</portType>
	<binding name="SmevServerPortBinding" type="tns:SmevServer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="syncReq">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/syncReq"></soap:operation>
			<input>
				<soap:body use="literal" parts="syncReqParameters"></soap:body>
				<soap:header message="tns:syncReq" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="aSyncReq">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncReq"></soap:operation>
			<input>
				<soap:body use="literal" parts="asyncReqParameters"></soap:body>
				<soap:header message="tns:aSyncReq" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="aSyncResult">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncResult"></soap:operation>
			<input>
				<soap:body use="literal" parts="aSyncResultParameters"></soap:body>
				<soap:header message="tns:aSyncResult" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="SmevServerService">
		<port name="SmevServerPort" binding="tns:SmevServerPortBinding">
			<soap:address location="http://localhost:18080/smev"></soap:address>
		</port>
	</service>
</definitions><?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version
	is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by
	JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNa
	mespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" name="SmevServerService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://localhost:18080/smev?xsd=1"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://localhost:18080/smev?xsd=2"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://smev.gosuslugi.ru/rev120315" schemaLocation="http://localhost:18080/smev?xsd=3"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://smev.gosuslugi.ru/MsgExample/xsd/types" schemaLocation="http://localhost:18080/smev?xsd=4"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" schemaLocation="http://localhost:18080/smev?xsd=5"></xsd:import>
		</xsd:schema>
	</types>
	<message name="syncReq">
		<part xmlns:ns1="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns1:Header"></part>
		<part name="syncReqParameters" element="tns:SyncRequest"></part>
	</message>
	<message name="syncReqResponse">
		<part name="syncReqResponseParameters" element="tns:SyncResponse"></part>
	</message>
	<message name="aSyncReq">
		<part xmlns:ns2="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns2:Header"></part>
		<part name="asyncReqParameters" element="tns:aSyncReqRequest"></part>
	</message>
	<message name="aSyncReqResponse">
		<part name="asyncReqResponseParameters" element="tns:aSyncReqResponse"></part>
	</message>
	<message name="aSyncResult">
		<part xmlns:ns3="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns3:Header"></part>
		<part name="aSyncResultParameters" element="tns:aSyncResultRequest"></part>
	</message>
	<message name="aSyncResultResponse">
		<part name="aSyncResultResponseParameters" element="tns:aSyncResultResponse"></part>
	</message>
	<portType name="SmevServer">
		<operation name="syncReq" parameterOrder="smevHeader syncReqParameters">
			<input message="tns:syncReq"></input>
			<output message="tns:syncReqResponse"></output>
		</operation>
		<operation name="aSyncReq" parameterOrder="smevHeader asyncReqParameters">
			<input message="tns:aSyncReq"></input>
			<output message="tns:aSyncReqResponse"></output>
		</operation>
		<operation name="aSyncResult" parameterOrder="smevHeader aSyncResultParameters">
			<input message="tns:aSyncResult"></input>
			<output message="tns:aSyncResultResponse"></output>
		</operation>
	</portType>
	<binding name="SmevServerPortBinding" type="tns:SmevServer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="syncReq">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/syncReq"></soap:operation>
			<input>
				<soap:body use="literal" parts="syncReqParameters"></soap:body>
				<soap:header message="tns:syncReq" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="aSyncReq">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncReq"></soap:operation>
			<input>
				<soap:body use="literal" parts="asyncReqParameters"></soap:body>
				<soap:header message="tns:aSyncReq" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="aSyncResult">
			<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncResult"></soap:operation>
			<input>
				<soap:body use="literal" parts="aSyncResultParameters"></soap:body>
				<soap:header message="tns:aSyncResult" part="smevHeader" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="SmevServerService">
		<port name="SmevServerPort" binding="tns:SmevServerPortBinding">
			<soap:address location="http://localhost:18080/smev"></soap:address>
		</port>
	</service>
</definitions>