src/wsdl/server.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" name="SmevServerService">
<wsp:Policy wsu:Id="SmevServerPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"></ns1:OptimizedMimeSerialization>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://smev.gosuslugi.ru/rev120315" schemaLocation="SID0003022/N1395345249/OwsmImport.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types" schemaLocation="server.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="syncReq">
<part xmlns:ns2="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns2:Header"></part>
<part name="syncReqParameters" element="tns:SyncRequest"></part>
</message>
<message name="syncReqResponse">
<part name="syncReqResponseParameters" element="tns:SyncResponse"></part>
</message>
<message name="aSyncReq">
<part xmlns:ns3="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns3:Header"></part>
<part name="asyncReqParameters" element="tns:aSyncReqRequest"></part>
</message>
<message name="aSyncReqResponse">
<part name="asyncReqResponseParameters" element="tns:aSyncReqResponse"></part>
</message>
<message name="aSyncResult">
<part xmlns:ns4="http://smev.gosuslugi.ru/rev120315" name="smevHeader" element="ns4:Header"></part>
<part name="aSyncResultParameters" element="tns:aSyncResultRequest"></part>
</message>
<message name="aSyncResultResponse">
<part name="aSyncResultResponseParameters" element="tns:aSyncResultResponse"></part>
</message>
<portType name="SmevServer">
<operation name="syncReq" parameterOrder="smevHeader syncReqParameters">
<input wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/syncReq" message="tns:syncReq"></input>
<output wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types/SmevServer/syncReqResponse" message="tns:syncReqResponse"></output>
</operation>
<operation name="aSyncReq" parameterOrder="smevHeader asyncReqParameters">
<input wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncReq" message="tns:aSyncReq"></input>
<output wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types/SmevServer/aSyncReqResponse" message="tns:aSyncReqResponse"></output>
</operation>
<operation name="aSyncResult" parameterOrder="smevHeader aSyncResultParameters">
<input wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncResult" message="tns:aSyncResult"></input>
<output wsam:Action="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/xsd/types/SmevServer/aSyncResultResponse" message="tns:aSyncResultResponse"></output>
</operation>
</portType>
<binding name="SmevServerPortBinding" type="tns:SmevServer">
<wsp:PolicyReference URI="#SmevServerPortBinding_MTOM_Policy"></wsp:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="syncReq">
<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/syncReq"></soap:operation>
<input>
<soap:body use="literal" parts="syncReqParameters"></soap:body>
<soap:header message="tns:syncReq" part="smevHeader" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aSyncReq">
<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncReq"></soap:operation>
<input>
<soap:body use="literal" parts="asyncReqParameters"></soap:body>
<soap:header message="tns:aSyncReq" part="smevHeader" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aSyncResult">
<soap:operation soapAction="http://server.impl.ws.smev.agiliumlabs.com/SmevServer/aSyncResult"></soap:operation>
<input>
<soap:body use="literal" parts="aSyncResultParameters"></soap:body>
<soap:header message="tns:aSyncResult" part="smevHeader" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SmevServerService">
<port name="SmevServerPort" binding="tns:SmevServerPortBinding">
<soap:address location="http://localhost:8080/smev"></soap:address>
</port>
</service>
</definitions>